$primary: #9656DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$quaternary: #ECECEC;

body {
    font-family: roboto, sans-serif;
    width: 100%;
    margin: 0;
}

header {
    font-family: shrikhand;
    font-size: 2em;
    display: flex;
    justify-content: center;

    p {
        margin: 2vw 0;
    }
}

.location {
    display: flex;
    justify-content: center;
    background: $quaternary;
    box-shadow: inset 0 0.4vw 1vw darken($quaternary, 15%);

    p {
        margin: 4vw 0;
    }
}

.location-logo {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lighten($quaternary, 4%);
}

.hat-intro {
    margin: 11vw 22vw 5vw 22vw;

    p {
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.text-intro {
    margin: 0 14vw 10vw 14vw;

    p {
        margin: 0;
        font-size: 1.1em;
        font-weight: 300;
    }
}

form {
    margin-bottom: 15vw;

    span {
        font-size: 1.3em;
        font-weight: 500;
    }
  }

button {
    background: linear-gradient(0deg, $primary, $secondary);
    border-radius: 9vw;
    border: white;
    padding: 4vw 5.5vw;

    span {
        color: white;
    }
}

.function {
    h1 {
        font-size: 1.5em;
        margin: 12vw 0 8vw 4vw;
    }
}

.topics-function {
    margin-bottom: 17vw;
}

.topic-function {
    display: flex;
    align-items: center;
    background: lighten($quaternary, 5%);
    margin: 0 5vw 5vw 9vw;
    border-radius: 6vw;
    box-shadow: 1vw 1vw 3vw darken($quaternary, 5%);

}

.function-logo {
    color: darken($quaternary, 50%);;
    padding: 7.5vw;
}


.store-logo {
    display: flex;
    align-items: center;
    color: $primary;
    padding: 7.5vw;
}

.text-function {
    p {
        font-weight: 500;
    }
}

.fa-mobile-alt {
    font-size: 1.3em;
}

.fa-list {
    font-size: 1.2em;
}

.fa-store {
    font-size: 1.2em;
}

.number {
    background: $primary;
    border-radius: 3vw;
    padding: 1vw 2vw;

    p {
        margin: 0;
        color: white;
    }
}

.restaurants-presentation {
    padding: 4vw 0 12vw 0;
    background: lighten($quaternary, 4%);

    h1 {
        font-size: 1.5em;
        margin: 12vw 0 5vw 5vw;
    }
}

.bloc-cards-restaurants {
    display: flex;
    flex-direction: column;
    margin: 0 5.6vw;
}

.card-restaurant {
    background: white;
    border-radius: 4vw;
    margin-bottom: 5vw;
    box-shadow: 1vw 1vw 3vw darken($quaternary, 2%);
}

.photo-restaurant {
    height: 46vw;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 4vw 4vw 0 0;
    }
}

.restaurant-informations {
    display: flex;
    justify-content: space-between;
}

.restaurant-name {
    margin: 4vw 0 0 3.5vw;

    h2 {
        margin: 0;
        font-size: 1.2em;
    } 
}

.restaurant-location {
    margin: 1vw 0 4.5vw 3.5vw;

    p {
        margin: 0;
        font-size: 1.1em;
        font-weight: 300;
    }
}

.heart-logo {
    padding: 6vw 6vw 7vw 0;
}

.fa-heart {
    font-size: 1.6em;
}

.tag-new-1 {
    background: #99E2D0;
    margin: 3.5vw 0 0 68vw;
    display: flex;
    justify-content: flex-end;
    padding: 1vw 2vw 1vw 2vw;
    position: absolute;

    p {
        margin: 0;
        font-size: 0.9em;
        font-weight: 500;
        color: darken($tertiary, 40%);
    }
}

.tag-new-2 {
    background: #99E2D0;
    margin: 75vw 0 0 68vw;
    display: flex;
    justify-content: flex-end;
    padding: 1vw 2vw 1vw 2vw;
    position: absolute;

    p {
        margin: 0;
        font-size: 0.9em;
        font-weight: 500;
        color: darken($tertiary, 40%);
    }
}

footer {
    background: #2E2E2E;
}

.footer-title {
    padding: 5vw 0 5.5vw 5vw;

    p {
        font-family: shrikhand;
        font-size: 1.25em;
        margin: 0;
        color: white;
    }
}

.topics-footer {
    padding: 0 0 9vw 5vw;

    p {
        color: white;
        font-size: 1.1em;
        margin: 0 0 2vw 0;
    }

    i {
        color: white;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.topic-footer-1 {
    display: flex;
}

.footer-logo {
    margin-right: 3vw;
}

.fa-utensils {
    font-size: 0.9em;
}

.fa-hands-helping {
    font-size: 0.7em;
}