/*Homepage*/
body {
  font-family: roboto, sans-serif;
  width: 100%;
  margin: 0;
}

/*header*/
header {
  display: flex;
  justify-content: center;
}

.website-logo {
  box-shadow: 0vw 0.5vw 1vw #c6c6c6;
  display: flex;
  justify-content: center;
  width: 100%;
}
.website-logo p {
  margin: 2vw 0;
  font-family: shrikhand;
  font-size: 1.7em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .website-logo p {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .website-logo p {
    font-size: 2.5em;
    box-shadow: 0vw 0.5vw 1vw white;
  }
}

/*main*/
.location {
  display: flex;
  justify-content: center;
  background: #ECECEC;
}
.location p {
  margin: 4vw 0;
  font-size: 0.85em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .location p {
    font-size: 1.4em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1024px) {
  .location p {
    font-size: 1.2em;
    margin: 2.5vw 0;
  }
}

.location-logo {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.fa-map-marker-alt {
  font-size: 0.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-map-marker-alt {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-map-marker-alt {
    font-size: 1.1em;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
}
@media only screen and (min-width: 1024px) {
  .intro {
    background: white;
    align-items: normal;
    padding-left: 3vw;
  }
}

.hat-intro {
  margin: 11vw 19vw 5vw 19vw;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hat-intro {
    margin: 7vw 0 5vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hat-intro {
    margin: 4vw 0vw 2vw 0vw;
    text-align: start;
  }
}
.hat-intro p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hat-intro p {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .hat-intro p {
    font-size: 1.4em;
  }
}

.text-intro {
  margin: 0 9vw 10vw 9vw;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-intro {
    margin: 0 18vw 8vw 18vw;
  }
}
@media only screen and (min-width: 1024px) {
  .text-intro {
    margin: 0 0vw 3.5vw 0vw;
    text-align: start;
  }
}
.text-intro p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-intro p {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-intro p {
    font-size: 1.2em;
  }
}

.restaurant-link {
  margin-bottom: 15vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-link {
    margin-bottom: 11vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-link {
    margin-bottom: 4vw;
  }
}

button {
  background: linear-gradient(0deg, #9656DC, #FF79DA);
  border-radius: 9vw;
  border: white;
  padding: 4vw 5.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  button {
    padding: 3vw 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  button {
    padding: 2vw 3vw;
  }
}

.menu-button {
  font-size: 1em;
  font-weight: 500;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-button {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-button {
    font-size: 1.4em;
  }
}

.function h1 {
  font-size: 1.2em;
  margin: 12vw 0 8vw 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .function h1 {
    font-size: 1.6em;
    margin: 6vw 0 6vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .function h1 {
    font-size: 1.4em;
    margin: 5vw 0 4vw 3vw;
  }
}

.topics-function {
  margin-bottom: 17vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-function {
    margin-bottom: 9vw;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-function {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.topic-function {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  margin: 0 5vw 4vw 9vw;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 3vw #dfdfdf;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topic-function {
    margin: 0 14vw 7vw 14vw;
    border-radius: 4vw;
  }
}

.function-logo {
  color: #6d6d6d;
  padding: 7.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .function-logo {
    padding: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .function-logo {
    padding: 3vw;
  }
}

.store-logo {
  display: flex;
  align-items: center;
  color: #9656DC;
  padding: 7.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .store-logo {
    padding: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .store-logo {
    padding: 3vw;
  }
}

@media only screen and (min-width: 1024px) {
  .text-function {
    margin-right: 3vw;
  }
}
.text-function p {
  font-size: 0.8em;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-function p {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-function p {
    font-size: 1.1em;
    margin: 0;
  }
}

.fa-mobile-alt {
  font-size: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-mobile-alt {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-mobile-alt {
    font-size: 1.2em;
  }
}

.fa-list {
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-list {
    font-size: 1.15em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-list {
    font-size: 1.2em;
  }
}

.fa-store {
  font-size: 0.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-store {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-store {
    font-size: 1.2em;
  }
}

.number {
  background: #9656DC;
  border-radius: 3vw;
  padding: 1vw 2vw;
  margin-left: -3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .number {
    padding: 0.6vw 1.3vw;
    margin-left: -2vw;
  }
}
@media only screen and (min-width: 1024px) {
  .number {
    padding: 0.7vw 1vw;
    margin-left: -1vw;
  }
}
.number p {
  margin: 0;
  color: white;
  font-size: 0.7em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .number p {
    font-size: 1em;
  }
}

.restaurants-presentation {
  padding: 4vw 0 12vw 0;
  background: #f6f6f6;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants-presentation {
    padding: 4vw 0 2vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-presentation {
    padding: 1vw 0 2vw 0;
  }
}
.restaurants-presentation h1 {
  font-size: 1.2em;
  margin: 12vw 0 5vw 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants-presentation h1 {
    font-size: 1.6em;
    margin: 5vw 0 7vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-presentation h1 {
    font-size: 1.4em;
    margin: 0vw 0 5vw 3vw;
  }
}

.bloc-cards-restaurants {
  display: flex;
  flex-direction: column;
  margin: 0 5.6vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .bloc-cards-restaurants {
    margin: 0 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .bloc-cards-restaurants {
    display: grid;
    grid-template-columns: 39.5vw 39.5vw;
    grid-template-rows: 31vw 31vw;
    grid-column-gap: 5vw;
    margin: 0 8vw 0 8vw;
  }
}

.card-restaurant {
  background: white;
  border-radius: 4vw;
  margin-bottom: 5vw;
  box-shadow: 1vw 1vw 3vw #e7e7e7;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-restaurant {
    margin-bottom: 8vw;
  }
}

.photo-restaurant {
  height: 46vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-restaurant {
    height: 33vw;
  }
}
@media only screen and (min-width: 1024px) {
  .photo-restaurant {
    height: 18vw;
  }
}
.photo-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4vw 4vw 0 0;
}

.new {
  position: relative;
}

.tag-new-1 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  border-radius: 1vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
@media only screen and (min-width: 1024px) {
  .tag-new-1 {
    padding: 1vw;
  }
}
.tag-new-1 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-1 p {
    font-size: 1.1em;
  }
}

.tag-new-2 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  border-radius: 1vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
@media only screen and (min-width: 1024px) {
  .tag-new-2 {
    padding: 1vw;
  }
}
.tag-new-2 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-2 p {
    font-size: 1.1em;
  }
}

.restaurant-informations {
  display: flex;
  justify-content: space-between;
}

.restaurant-name {
  margin: 4vw 0 0 3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-name {
    margin: 2vw 0 0 3.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name {
    margin: 1.5vw 0 0 3vw;
  }
}
.restaurant-name h2 {
  margin: 0;
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-name h2 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name h2 {
    font-size: 1.1em;
  }
}

.restaurant-location {
  margin: 1vw 0 4.5vw 3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-location {
    margin: 1vw 0 3vw 3.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-location {
    margin: 0.6vw 0 0vw 3vw;
  }
}
.restaurant-location p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-location p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-location p {
    font-size: 0.85em;
  }
}

.heart-logo {
  padding: 6vw 6vw 7vw 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .heart-logo {
    padding: 4vw 6vw 4vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .heart-logo {
    padding: 2.5vw 4vw 0 0;
  }
}

.fa-heart {
  font-size: 1.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-heart {
    font-size: 1.7em;
  }
}

/*Footer homepage and restaurants*/
footer {
  background: #2E2E2E;
}

.footer-title {
  padding: 5vw 0 6vw 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-title {
    padding: 3vw 0 2vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title {
    padding: 3vw 0 2vw 3vw;
  }
}
.footer-title p {
  font-family: shrikhand;
  font-size: 1em;
  margin: 0;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-title p {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title p {
    font-size: 1.3em;
  }
}

.topics-footer {
  padding: 0 0 9vw 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-footer {
    padding: 0 0 4vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-footer {
    padding: 0 0 5vw 3vw;
  }
}
.topics-footer p {
  color: white;
  font-size: 0.85em;
  margin: 1vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-footer p {
    font-size: 1.1em;
    margin: 0.5vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-footer p {
    font-size: 1em;
    margin: 0.5vw;
  }
}
.topics-footer a {
  text-decoration: none;
  color: white;
}

.topic-footer-1 {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 3vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-logo {
    margin-right: 1vw;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    margin-right: 0;
  }
}

.fa-utensils {
  font-size: 0.7em;
  color: white;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-utensils {
    margin-right: 1vw;
    font-size: 1em;
  }
}

.fa-hands-helping {
  font-size: 0.7em;
  color: white;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-hands-helping {
    margin-right: 0.6vw;
    font-size: 0.9em;
  }
}

/*Restaurant pages*/
#container {
  background: #f6f6f6;
}

/*header restaurant*/
.website-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.website-presentation h1 {
  margin: 2vw 0;
  font-family: shrikhand;
  font-size: 1.5em;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .website-presentation h1 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .website-presentation h1 {
    font-size: 2.5em;
  }
}

.logo-arrow {
  position: absolute;
  left: 5vw;
  top: 5vw;
}
@media only screen and (min-width: 1024px) {
  .logo-arrow {
    top: 4vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-arrow-left {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-arrow-left {
    font-size: 1.5em;
  }
}

/*body restaurant*/
.photo-page-restaurant {
  height: 67vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-page-restaurant {
    height: 47vw;
  }
}
@media only screen and (min-width: 1024px) {
  .photo-page-restaurant {
    height: 42vw;
  }
}
.photo-page-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant-menu {
  position: relative;
  top: -11vw;
  border-radius: 9vw 9vw 0 0;
  background: #f6f6f6;
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu {
    border-radius: 7vw 7vw 0 0;
    top: -8vw;
  }
}
.restaurant-menu h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu h2 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu h2 {
    font-size: 1.4em;
  }
}
.restaurant-menu h3 {
  margin: 0;
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu h3 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu h3 {
    font-size: 1em;
    padding-right: 5vw;
  }
}
.restaurant-menu p {
  margin: 0;
  font-size: 0.85em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu p {
    font-size: 0.95em;
  }
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vw 9vw 0 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-title {
    padding: 3vw 9vw 0 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-title {
    padding: 2vw 9vw 0 8vw;
  }
}
.menu-title h1 {
  font-family: shrikhand;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-title h1 {
    font-size: 2.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-title h1 {
    font-size: 2.5em;
  }
}

.heart-logo {
  padding: 4vw 6vw 4vw 0;
}
@media only screen and (min-width: 1024px) {
  .heart-logo {
    padding: 4vw 0 4vw 0;
  }
}

.fa-heart {
  font-size: 1.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-heart {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-heart {
    font-size: 2em;
  }
}

.course-title {
  margin: 10vw 0 4vw 5vw;
  padding-bottom: 2vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-title {
    margin: 4vw 0 4vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .course-title {
    margin: 1vw 0 5vw 3vw;
    padding-bottom: 0vw;
  }
}
.course-title h2 {
  border-bottom: solid 1vw #99E2D0;
  width: 31px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-title h2 {
    font-size: 1.6em;
    border-bottom: solid 0.6vw #99E2D0;
    width: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .course-title h2 {
    border-bottom: solid 0.5vw #99E2D0;
  }
}

@media only screen and (min-width: 1024px) {
  .course-cards-bloc {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3vw;
    margin-left: 8vw;
  }
}

.course-card {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 4vw;
  margin: 4vw 4vw 0 5vw;
  padding: 3vw 4vw 3vw 3vw;
  box-shadow: 1vw 1vw 3vw #e7e7e7;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-card {
    padding: 3.5vw 5vw 3.5vw 4vw;
    margin: 0 10vw 7vw 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .course-card {
    margin: 0vw 11vw 4vw 0;
    padding: 2.5vw 4vw 2.5vw 3vw;
    border-radius: 5vw;
  }
}

.course-price {
  display: flex;
  align-items: center;
}
.course-price p {
  font-weight: 500;
}

.order-link {
  display: flex;
  justify-content: center;
  padding: 13vw 0 10vw 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .order-link {
    padding: 3vw 0 2vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .order-link {
    padding: 2vw 0 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .order-button {
    padding: 2vw 2vw;
  }
}

.text-button {
  font-size: 1em;
  font-weight: 500;
  color: white;
  padding: 0 7vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-button {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-button {
    font-size: 1.4em;
  }
}

/*# sourceMappingURL=style.css.map */
