/*Homepage*/
body {
  font-family: roboto, sans-serif;
  width: 100%;
  margin: 0;
}

/*.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 3s;

    &:hover {
        transform: translate(0, -50px);
        transition: transform 330ms ease-in-out;
        opacity: 1;
    }
}

#container {
    z-index: 0;
}

#black-ustensils {
    font-size: 10em;
    color: black;
}*/
/*header*/
header {
  display: flex;
  justify-content: center;
}

.website-logo {
  box-shadow: 0vw 0.5vw 1vw #c6c6c6;
  display: flex;
  justify-content: center;
  width: 100%;
}
.website-logo p {
  margin: 2vw 0;
  font-family: shrikhand;
  font-size: 1.7em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .website-logo p {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .website-logo p {
    font-size: 2.5em;
    box-shadow: 0vw 0.5vw 1vw white;
  }
}

/*main*/
.location {
  display: flex;
  justify-content: center;
  background: #ECECEC;
}
.location p {
  margin: 4vw 0;
  font-size: 0.85em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .location p {
    font-size: 1.4em;
    font-weight: 400;
  }
}
@media only screen and (min-width: 1024px) {
  .location p {
    font-size: 1.2em;
    margin: 2.5vw 0;
  }
}

.location-logo {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.fa-map-marker-alt {
  font-size: 0.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-map-marker-alt {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-map-marker-alt {
    font-size: 1.1em;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
}
@media only screen and (min-width: 1024px) {
  .intro {
    align-items: normal;
    padding-left: 28px;
  }
}

.hat-intro {
  margin: 35px 55px 15px 55px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hat-intro {
    margin: 45px 0 35px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hat-intro {
    margin: 35px 0vw 20px 0vw;
    text-align: start;
  }
}
.hat-intro p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hat-intro p {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .hat-intro p {
    font-size: 1.4em;
  }
}

.text-intro {
  margin: 0 25px 30px 25px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-intro {
    margin: 0 18vw 45px 18vw;
  }
}
@media only screen and (min-width: 1024px) {
  .text-intro {
    margin: 0 0vw 35px 0vw;
    text-align: start;
  }
}
.text-intro p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-intro p {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-intro p {
    font-size: 1.2em;
  }
}

.restaurant-link {
  margin-bottom: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-link {
    margin-bottom: 65px;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-link {
    margin-bottom: 62px;
  }
}

button {
  background: linear-gradient(0deg, #9656DC, #FF79DA);
  border-radius: 9vw;
  border: white;
  padding: 4vw 5.5vw;
  box-shadow: 1vw 1vw 3vw #b9b9b9;
}
button:hover {
  background: linear-gradient(0deg, #a167e0, #ff8de0);
  box-shadow: 1vw 1vw 2vw #868686;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  button {
    padding: 3vw 6vw;
  }
}
@media only screen and (min-width: 1024px) {
  button {
    padding: 1.5vw 3vw;
  }
}

.menu-button {
  font-size: 1em;
  font-weight: 500;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-button {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-button {
    font-size: 1.4em;
  }
}

.function {
  background: white;
  padding: 38px 0 3px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .function {
    padding: 50px 0 5px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .function {
    padding: 50px 0 25px 0;
  }
}
.function h1 {
  font-size: 1.2em;
  margin: 0 0 25px 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .function h1 {
    font-size: 1.6em;
    margin: 0 0 45px 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .function h1 {
    font-size: 1.4em;
    margin: 0 0 28px 30px;
  }
}

.topics-function {
  margin-bottom: 55px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-function {
    margin-bottom: 75px;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-function {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.topic-function {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  margin: 0 5vw 4vw 9vw;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 3vw #dfdfdf;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topic-function {
    margin: 0 14vw 7vw 14vw;
    border-radius: 4vw;
  }
}
@media only screen and (min-width: 1024px) {
  .topic-function {
    margin: 0 15px 45px 50px;
  }
}

.function-logo {
  color: #6d6d6d;
  padding: 7.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .function-logo {
    padding: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .function-logo {
    padding: 2vw 1.5vw;
  }
}

.store-logo {
  display: flex;
  align-items: center;
  color: #9656DC;
  padding: 7.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .store-logo {
    padding: 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .store-logo {
    padding: 2vw 1.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .text-function {
    margin-right: 2vw;
  }
}
.text-function p {
  font-size: 0.8em;
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-function p {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-function p {
    font-size: 1.1em;
    margin: 0;
  }
}

.fa-mobile-alt {
  font-size: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-mobile-alt {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-mobile-alt {
    font-size: 1.2em;
  }
}

.fa-list {
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-list {
    font-size: 1.15em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-list {
    font-size: 1.2em;
  }
}

.fa-store {
  font-size: 0.8em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-store {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-store {
    font-size: 1.2em;
  }
}

.number {
  background: #9656DC;
  border-radius: 3vw;
  padding: 1vw 2vw;
  margin-left: -3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .number {
    padding: 0.6vw 1.3vw;
    margin-left: -2vw;
  }
}
@media only screen and (min-width: 1024px) {
  .number {
    padding: 0.44vw 0.72vw;
    margin-left: -1vw;
  }
}
.number p {
  margin: 0;
  color: white;
  font-size: 0.7em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .number p {
    font-size: 1em;
  }
}

.restaurants-presentation {
  padding: 42px 0 24px 0;
  background: #f6f6f6;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants-presentation {
    padding: 73px 0 27px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-presentation {
    padding: 56px 0 32px 0;
  }
}
.restaurants-presentation h1 {
  font-size: 1.2em;
  margin: 0 0 25px 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants-presentation h1 {
    font-size: 1.6em;
    margin: 0 0 45px 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants-presentation h1 {
    font-size: 1.4em;
    margin: 0vw 0 50px 28px;
  }
}

.bloc-cards-restaurants {
  display: flex;
  flex-direction: column;
  margin: 0 5.6vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .bloc-cards-restaurants {
    margin: 0 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .bloc-cards-restaurants {
    display: grid;
    grid-template-columns: 39.5vw 39.5vw;
    grid-template-rows: 31vw 31vw;
    grid-column-gap: 5vw;
    margin: 0 8vw 0 8vw;
  }
}

.card-restaurant {
  background: white;
  border-radius: 4vw;
  margin-bottom: 5vw;
  box-shadow: 1vw 1vw 3vw #e7e7e7;
  position: relative;
}
.card-restaurant a {
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-restaurant {
    margin-bottom: 8vw;
  }
}
@media only screen and (min-width: 1024px) {
  .card-restaurant {
    border-radius: 3vw;
    margin-bottom: 5.85vw;
  }
}

.photo-restaurant {
  height: 46vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-restaurant {
    height: 33vw;
  }
}
@media only screen and (min-width: 1024px) {
  .photo-restaurant {
    height: 18vw;
  }
}
.photo-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4vw 4vw 0 0;
}

.new {
  position: relative;
}

.tag-new-1 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-1 {
    padding: 1vw 2.5vw 1vw 2.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .tag-new-1 {
    top: 2vw;
    padding: 0.7vw;
  }
}
.tag-new-1 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-1 p {
    font-size: 1.1em;
  }
}

.tag-new-2 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-2 {
    padding: 1vw 2.5vw 1vw 2.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .tag-new-2 {
    top: 2vw;
    padding: 0.7vw;
  }
}
.tag-new-2 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tag-new-2 p {
    font-size: 1.1em;
  }
}

.restaurant-informations {
  display: flex;
  justify-content: space-between;
}

.restaurant-name {
  margin: 4vw 0 0 3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-name {
    margin: 2vw 0 0 3.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name {
    margin: 1.5vw 0 0 3vw;
  }
}
.restaurant-name h2 {
  margin: 0;
  font-size: 0.9em;
  color: black;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-name h2 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name h2 {
    font-size: 1.1em;
  }
}

.restaurant-location {
  margin: 1vw 0 4.5vw 3.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-location {
    margin: 1vw 0 3vw 3.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-location {
    margin: 0.6vw 0 0vw 3vw;
  }
}
.restaurant-location p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
  color: black;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-location p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-location p {
    font-size: 1em;
  }
}

.heart-logo {
  padding: 6vw 6vw 7vw 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .heart-logo {
    padding: 4vw 6vw 4vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .heart-logo {
    padding: 2.5vw 4vw 0 0;
  }
}

.homepage-logo {
  font-size: 1.2em;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .homepage-logo {
    font-size: 1.7em;
  }
}

.full-heart-new {
  padding: 5.8vw 5.7vw 7vw 0;
  position: absolute;
  right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .full-heart-new {
    padding: 3.9vw 5.75vw 3.9vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .full-heart-new {
    padding: 2.46vw 3.9vw 0 0;
  }
}

#homepage-logo-full {
  font-size: 1.4em;
  font-weight: 900;
  opacity: 0;
}
#homepage-logo-full:active {
  background: linear-gradient(0deg, #FF79DA, #9656DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #homepage-logo-full {
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 1024px) {
  #homepage-logo-full:hover {
    background: linear-gradient(0deg, #FF79DA, #9656DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
}

/*Footer homepage and restaurants*/
footer {
  background: #2E2E2E;
}

.footer-title {
  padding: 15px 0 8px 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-title {
    padding: 25px 0 15px 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title {
    padding: 24px 0 12px 30px;
  }
}
.footer-title p {
  font-family: shrikhand;
  font-size: 1em;
  margin: 0;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-title p {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title p {
    font-size: 1.3em;
  }
}

.topics-footer {
  padding: 0 0 20px 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-footer {
    padding: 0 0 35px 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-footer {
    padding: 0 0 30px 30px;
  }
}
.topics-footer p {
  color: white;
  font-size: 0.85em;
  margin: 4px 0 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topics-footer p {
    font-size: 1.1em;
    margin: 5px 0 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .topics-footer p {
    font-size: 1em;
    margin: 7px 0 0 5px;
  }
}
.topics-footer .e-mail {
  text-decoration: none;
  color: white;
}

.topic-footer-1 {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-logo {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    margin-right: 0;
  }
}

.fa-utensils {
  font-size: 0.7em;
  color: white;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-utensils {
    margin-right: 7px;
    font-size: 1em;
  }
}

.fa-hands-helping {
  font-size: 0.7em;
  color: white;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-hands-helping {
    margin-right: 3px;
    font-size: 0.9em;
  }
}

/*Restaurant pages*/
main {
  background: #f6f6f6;
}

/*header restaurant*/
.website-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .website-presentation {
    justify-content: flex-start;
    width: 59%;
  }
}
.website-presentation h1 {
  margin: 2vw 0;
  font-family: shrikhand;
  font-size: 1.5em;
  font-weight: 400;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .website-presentation h1 {
    font-size: 3.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .website-presentation h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .arrow-bloc {
    display: flex;
    align-items: center;
    width: 41%;
  }
}

.logo-arrow {
  position: absolute;
  top: 17px;
  left: 21px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-arrow {
    top: 45px;
    left: 46px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo-arrow {
    position: static;
    display: flex;
    align-items: center;
  }
}

.white-bloc {
  display: none;
  width: 10%;
  color: white;
}
@media only screen and (min-width: 1024px) {
  .white-bloc {
    display: flex;
  }
}

.fa-arrow-left {
  color: black;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-arrow-left {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .fa-arrow-left {
    font-size: 1.5em;
  }
}

/*body restaurant*/
.photo-page-restaurant {
  height: 67vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-page-restaurant {
    height: 47vw;
  }
}
@media only screen and (min-width: 1024px) {
  .photo-page-restaurant {
    height: 40vw;
  }
}
.photo-page-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.restaurant-menu {
  position: relative;
  top: -11vw;
  border-radius: 9vw 9vw 0 0;
  background: #f6f6f6;
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu {
    border-radius: 7vw 7vw 0 0;
    top: -6vw;
  }
}
.restaurant-menu h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu h2 {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu h2 {
    font-size: 1.4em;
  }
}
.restaurant-menu h3 {
  margin: 0;
  font-size: 0.9em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu h3 {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu h3 {
    font-size: 1em;
  }
}
.restaurant-menu p {
  margin: 0;
  font-size: 0.85em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-menu p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-menu p {
    font-size: 0.95em;
  }
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vw 9vw 0 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-title {
    padding: 3vw 9vw 0 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-title {
    padding: 2vw 9vw 0 8vw;
  }
}
.menu-title h1 {
  font-family: shrikhand;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-title h1 {
    font-size: 2.3em;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-title h1 {
    font-size: 2.5em;
  }
}

.heart-restaurant {
  padding: 4vw 0 4vw 0;
}
@media only screen and (min-width: 1024px) {
  .heart-restaurant {
    padding: 40px 0 75px 0;
  }
}

.restaurant-logo {
  font-size: 1.2em;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-logo {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-logo {
    font-size: 2em;
  }
}

.course-title {
  margin: 10vw 0 4vw 5vw;
  padding-bottom: 2vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-title {
    margin: 4vw 0 4vw 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  .course-title {
    margin: 0 0 52px 50px;
    padding-bottom: 0vw;
  }
}
.course-title h2 {
  border-bottom: solid 1vw #99E2D0;
  width: 31px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-title h2 {
    font-size: 1.6em;
    border-bottom: solid 0.6vw #99E2D0;
    width: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .course-title h2 {
    border-bottom: solid 5px #99E2D0;
  }
}

@media only screen and (min-width: 1024px) {
  .course-cards-bloc {
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
    margin-left: 6vw;
  }
}

.course-card {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 4vw;
  margin: 4vw 4vw 0 5vw;
  padding: 3vw 4vw 3vw 3vw;
  box-shadow: 1vw 1vw 3vw #e7e7e7;
  position: relative;
}
.course-card:hover {
  cursor: grab;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .course-card {
    padding: 3.5vw 5vw 3.5vw 4vw;
    margin: 0 10vw 7vw 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .course-card {
    margin: 0 0 50px 0;
    padding: 17px 24px 17px 24px;
    border-radius: 5vw;
    max-width: 342px;
  }
}

.course-price {
  display: flex;
  align-items: center;
}
.course-price:active + .selection-space {
  visibility: visible;
  transform: translate(-100%, 0);
}
@media only screen and (min-width: 1024px) {
  .course-price {
    margin-left: 28px;
  }
}
.course-price p {
  font-weight: 500;
}

.selection-space {
  position: absolute;
  background: #99E2D0;
  visibility: hidden;
  left: 100%;
  top: 0%;
  width: 48px;
  height: 53px;
  border-radius: 0 4vw 4vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
  /*&:active + .circle-check {
      transform: rotate(1turn);
  }*/
}
.selection-space:active {
  visibility: visible;
  transform: translate(-100%, 0);
}
@media only screen and (min-width: 1024px) {
  .selection-space {
    width: 70px;
    height: 72px;
    border-radius: 0 5vw 5vw 0;
    /*&:hover {
        left: 82.1%;
        visibility: visible;
        cursor: grab;
    }*/
  }
}

.circle-check {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 5vw;
  padding: 0px;
  transition: transform 500ms ease-in-out;
}
.circle-check:active {
  transform: rotate(1turn);
}

.check {
  color: #99E2D0;
  padding: 0.3vw 0.7vw;
  font-size: 0.8em;
}
@media only screen and (min-width: 1024px) {
  .check {
    padding: 0.3vw 0.5vw;
    font-size: 1em;
  }
}

.order-link {
  display: flex;
  justify-content: center;
  padding: 13vw 0 10vw 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .order-link {
    padding: 3vw 0 2vw 0;
  }
}
@media only screen and (min-width: 1024px) {
  .order-link {
    padding: 15px 0 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .order-button {
    padding: 0 2vw;
  }
}

.text-button {
  font-size: 1em;
  font-weight: 500;
  color: white;
  padding: 0 7vw;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text-button {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1024px) {
  .text-button {
    font-size: 1.4em;
  }
}

/*# sourceMappingURL=style.css.map */
