body {
  font-family: roboto, sans-serif;
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

.website-logo {
  box-shadow: 0vw 0.5vw 1vw #c6c6c6;
  display: flex;
  justify-content: center;
  width: 100%;
}
.website-logo p {
  margin: 2vw 0;
  font-family: shrikhand;
  font-size: 1.7em;
}

.location {
  display: flex;
  justify-content: center;
  background: #ECECEC;
}
.location p {
  margin: 4vw 0;
  font-size: 0.85em;
}

.location-logo {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.fa-map-marker-alt {
  font-size: 0.8em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}

.hat-intro {
  margin: 11vw 19vw 5vw 19vw;
  text-align: center;
}
.hat-intro p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.text-intro {
  margin: 0 9vw 10vw 9vw;
  text-align: center;
}
.text-intro p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
}

form {
  margin-bottom: 15vw;
}
form span {
  font-size: 1em;
  font-weight: 500;
  color: white;
}

button {
  background: linear-gradient(0deg, #9656DC, #FF79DA);
  border-radius: 9vw;
  border: white;
  padding: 4vw 5.5vw;
}

.function h1 {
  font-size: 1.2em;
  margin: 12vw 0 8vw 5vw;
}

.topics-function {
  margin-bottom: 17vw;
}

.topic-function {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  margin: 0 5vw 5vw 9vw;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 3vw #dfdfdf;
}

.function-logo {
  color: #6d6d6d;
  padding: 7.5vw;
}

.store-logo {
  display: flex;
  align-items: center;
  color: #9656DC;
  padding: 7.5vw;
}

.text-function p {
  font-size: 0.8em;
  font-weight: 500;
}

.fa-mobile-alt {
  font-size: 1em;
}

.fa-list {
  font-size: 0.9em;
}

.fa-store {
  font-size: 0.8em;
}

.number {
  background: #9656DC;
  border-radius: 3vw;
  padding: 1vw 2vw;
  margin-left: -3.5vw;
}
.number p {
  margin: 0;
  color: white;
  font-size: 0.7em;
}

.restaurants-presentation {
  padding: 4vw 0 12vw 0;
  background: #f6f6f6;
}
.restaurants-presentation h1 {
  font-size: 1.2em;
  margin: 12vw 0 5vw 5vw;
}

.bloc-cards-restaurants {
  display: flex;
  flex-direction: column;
  margin: 0 5.6vw;
}

.card-restaurant {
  background: white;
  border-radius: 4vw;
  margin-bottom: 5vw;
  box-shadow: 1vw 1vw 3vw #e7e7e7;
}

.photo-restaurant {
  height: 46vw;
}
.photo-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4vw 4vw 0 0;
}

.new {
  position: relative;
}

.tag-new-1 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  border-radius: 1vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
.tag-new-1 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}

.tag-new-2 {
  background: #99E2D0;
  padding: 1.5vw 3vw 1.5vw 3vw;
  border-radius: 1vw;
  position: absolute;
  right: 3vw;
  top: 4vw;
}
.tag-new-2 p {
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  color: #278870;
}

.restaurant-informations {
  display: flex;
  justify-content: space-between;
}

.restaurant-name {
  margin: 4vw 0 0 3.5vw;
}
.restaurant-name h2 {
  margin: 0;
  font-size: 0.9em;
}

.restaurant-location {
  margin: 1vw 0 4.5vw 3.5vw;
}
.restaurant-location p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
}

.heart-logo {
  padding: 6vw 6vw 7vw 0;
}

.fa-heart {
  font-size: 1.2em;
}

footer {
  background: #2E2E2E;
}

.footer-title {
  padding: 5vw 0 6vw 5vw;
}
.footer-title p {
  font-family: shrikhand;
  font-size: 1em;
  margin: 0;
  color: white;
}

.topics-footer {
  padding: 0 0 9vw 5vw;
}
.topics-footer p {
  color: white;
  font-size: 0.85em;
  margin: 0 0 2vw 0;
}
.topics-footer i {
  color: white;
  margin: 0;
  font-size: 0.7em;
}
.topics-footer a {
  text-decoration: none;
  color: white;
}

.topic-footer-1 {
  display: flex;
}

.footer-logo {
  margin-right: 3vw;
}

.fa-utensils {
  font-size: 0.9em;
}

.fa-hands-helping {
  font-size: 0.7em;
}

/*# sourceMappingURL=style.css.map */
